.example-card {
    max-width: 300px;
    align-items: center;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .card-image{
    max-width: 200px;
  }
  mat-card-content{
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .action-button{
    margin-left: auto;
  }