<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ productLocationInput.companyname }}</mat-card-title>
    <mat-card-subtitle
      >{{ productLocationInput.city }},
      {{ productLocationInput.state }}</mat-card-subtitle
    >
  </mat-card-header>
  <img
    class="card-image"
    mat-card-image
    [src]="productLocationInput.photo"
    alt="Acer Laptop"
  />
  <mat-card-content>
    <mat-icon>laptop</mat-icon>
    <b>{{ productLocationInput.description }}</b>
  </mat-card-content>
  <h3>Available: {{productLocationInput.availableUnits}}</h3>
  <mat-list>
    <mat-list-item>
      <span matListItemTitle></span>
    </mat-list-item>
  </mat-list>
  <mat-card-actions class="action-button">
    <button mat-button>Details</button>
    <button mat-button>Share</button>
  </mat-card-actions>
</mat-card>
