<div class="container">
  <mat-card class="cart-item" *ngFor="let item of items">
    <mat-card-header>
      <mat-card-title-group>
        <ng-container *ngIf="">
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <img mat-card-sm-image [src]="">
      </ng-container>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Quantity: {{ item.quantity }}
      ProductId: {{ item.productId }}
      Date Created: {{ item.dateCreated | date: 'short' }}
    </mat-card-content>
  </mat-card>
</div>