.product-card {
    max-width: 300px;
  }
  .image-block{
    width: 250px;
    height: 250px;
    margin-left: auto;
  }
  .card-image{
    max-width: 200px;
    max-height: 200px;

  }
  .card-price{
    font-size: 1.3rem;
    font-weight: bold;
    color: red;
    padding: 10px;
  }
  .card-star{
    display: flex;
  }
  .star-icon{
    color: #ffc815;
    margin-left: 10px;
  }
  .price-add-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }